<div class="container">
  <div class="list">
    <div class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Search"
        [ngModel]="query$ | async"
        (ngModelChange)="searchAccount($event)"
      />
    </div>

    <h3>Found {{ (filteredAccounts$ | async)?.length }} accounts</h3>

    <p-virtualScroller
      #vs
      *ngIf="filteredAccounts$ | async as accounts"
      [value]="accounts"
      scrollHeight="500px"
      [itemSize]="55"
      [lazy]="true"
    >
      <ng-template pTemplate="item" let-account>
        <div
          class="account-item"
          pDraggable="accounts"
          (onDragStart)="dragStart(account)"
          (onDragEnd)="dragEnd()"
        >
          <p-checkbox
            [(ngModel)]="account.selected"
            (ngModelChange)="check($event, account)"
            [binary]="true"
          ></p-checkbox>
          <span>{{ account.id }}</span>
          <span>{{ account.name }}</span>
        </div>
      </ng-template>
    </p-virtualScroller>
  </div>

  <div class="right-column" pDroppable="accounts" (onDrop)="drop()">
    <p-table [value]="selectedAccounts">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-account>
        <tr>
          <td>{{ account.id }}</td>
          <td>{{ account.name }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
