:host ::ng-deep {
  .p-virtualscroller-content {
    border-radius: 0.5rem;
  }

  .p-virtualscroller-list {
    border: 1px solid black !important;
    border-radius: 0.5rem;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.list {
  min-width: 30rem;
}

.account-item {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.right-column {
  border: 1px solid black;
  margin-left: 3rem;
  max-height: 505px;
  overflow-y: scroll;
  background-color: white;
  border-radius: 0.5rem;
  margin-top: 6.275rem;
}
